a:hover {
    text-decoration: none;
}

#login {
    width: 300px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
}

#regreg {
    margin-left: auto;
    margin-right: auto;
}

#logo {
    width: 100%;
}

#login * {
    margin: 8px 0;
}

table.layout-fixed {
    table-layout: fixed;
    width: 100%;
}

td {
    padding: 2px;
    overflow-wrap: break-word;
}

h3 {
    margin-top: 0;
}

.red-gisto {
    background-color: red;
}

.green-gisto {
    background-color: green;
}

.blue-gisto {
    background-color: blue;
}

.yellow-gisto {
    background-color: yellow;
}

.gisto td {
    vertical-align: bottom;
}

.h4 {
    border: #d8d8d8 0 solid;
    border-radius: 6px;
    padding: 6px;
    width: 300px;
    color: #666;
}

nav {
    background-color: #fff;
}

body {
    background-color: #f8f8f8;
    overflow-y: scroll;
}


#lenghttextViber {
    color: #999999;
    float: right;
    margin-top: 9px;
}

#lenghttextSMS {
    color: #999999;
    float: right;
    margin-top: 9px;
}

#textViber {
    height: 300px;
    overflow: auto;
}

.badge.top {
    background-color: #fff;
    color: #1b6d85;
}

.list-group a img {
    height: 30px;
    border-radius: 4px;
}

.chat > .panel {
    height: 500px;
    overflow-y: scroll;
}

.chat > .panel > .panel-body > div {
    margin: 3px;
    padding: 6px 12px;
    width: 70%;
    display: inline-block;
}

.chat > .panel > .panel-body > div > span {
    float: right;
    color: #888888;
}

.chat img.emoji {
    width: 28px;
    margin: 0 3px;
}

.chat > .panel > .panel-body > div.date {
    text-align: center;
    width: 100%;
    margin: 12px 0;
    font-weight: bolder;
    color: #666666;
}

.sendMessage {
    background-color: #dcf2fa;
    border-radius: 3px;
    margin: 30px;
    float: right;
}

.message {
    background-color: #bfe9f9;
    border-radius: 3px;
}

.scrolled {
    height: 100%;
    overflow-y: scroll;
}

div.emoji img {
    width: 28px;
    margin: 3px;
    cursor: pointer;
}

.templateThumbnail {
    height: 270px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    display: block;
}

.imgDialogItem {
    width: 164px;
    height: 230px;
    margin: 6px;
    text-align: center;
    float: left;
    overflow: hidden;
    border: 1px solid #EEEEEE;
    border-radius: 4px;
    padding: 7px;
    color: #454545;
    word-wrap: break-word;
    cursor: pointer;
}

.imgDialogItem:hover {
    border: 1px solid #357cb7;
    background-color: #dfeefa;
}

.imgDialogItem .imgDialogPrev {
    height: 152px;
    width: 148px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: table-cell;
}

.imgDialogItem span {
    margin-top: 6px;
    margin-left: 6px;
}

.imgDialogItem .text-black {
    color: #454545;
}

.preloader {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('/img/spinner.gif');
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 1000;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}